body {
  font-family: "Lato", sans-serif;
}

h1,
h2 {
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 25px;
  color: white;
}

h2 i {
  color: white;
}

ul {
  padding: 0;
}

hr {
  color: white;
  border-top: 2px solid white;
  margin-top: 4px;
}

li span:nth-of-type(2n) {
  font-size: 15px;
}

.btn.new-value-button {
  background: rgb(255, 102, 0);
  width: 60%;
  color: white;
  border: none;
}

.new-value-form input {
  border-radius: 6px;
  border: 1.5px solid black;
}

.new-value-form label {
  font-weight: bold;
}

.Summary .summary-screen .line {
  color: black;
  border-top: 2px solid black;
}

.btn.summary-button {
  background: rgb(255, 102, 0);
  color: white;
  width: 40%;
}

.summary-screen {
  background: white;
  color: black;
  width: 95vw;
  height: 95vh;
  padding: 10px;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 12px solid rgb(255, 102, 0);
  border-radius: 14px;
  overflow: scroll;
}

.summary-row {
  margin: 0;
}

.summary-screen h2 {
  color: black;
  font-size: 30px;
}

.summary-screen h3 {
  font-weight: bold;
}

.summary-screen ul {
  padding: 0 32px;
}

.summary-screen span:nth-of-type(2n) {
  font-size: 20px;
}

.summary-screen span:first-of-type {
  font-weight: bold;
  font-size: 20px;
}

.btn.instructions-button {
  background: rgb(255, 102, 0);
  color: white;
  width: 10%;
}

.instructions-screen {
  background: white;
  color: black;
  max-width: 1100px;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 40px 40px;
  border: 12px solid rgb(255, 102, 0);
  border-radius: 14px;
}

.instructions-screen h2 {
  color: black;
}

.instructions-screen ul {
  text-align: center;
  list-style-type: none;
}

.fa-xmark {
  color: rgb(255, 102, 0);
  font-size: 35px;
  cursor: pointer;
}

.column-heading {
  padding: 3px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.card-column .column-heading {
  background: black;
}

.very-important .column-heading {
  background: rgb(63, 185, 63);
}

.important .column-heading {
  background: rgb(25, 136, 255);
}

.not-important .column-heading {
  background: rgb(171, 171, 171);
}

.column-heading h2 {
  margin: 0;
}

.col-md-3 {
  padding-top: 10px;
  height: 100vh;
  overflow: scroll;
}

.col-md-3:first-of-type {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}

.col-md-3:last-of-type {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}

.card-column {
  background: black;
  border-bottom: 11px solid black;
}

.very-important {
  background: rgb(63, 185, 63);
  border-bottom: 11px solid rgb(63, 185, 63);
}

.important {
  background: rgb(25, 136, 255);
  border-bottom: 11px solid rgb(25, 136, 255);
}

.not-important {
  background: rgb(171, 171, 171);
  border-bottom: 11px solid rgb(171, 171, 171);
}

.card {
  text-align: center;
  padding: 9px;
}

.card span:first-of-type {
  font-size: 22px;
  font-weight: bold;
}

.btn {
  margin-left: 6px;
  width: 30%;
}

.btn-2 {
  background: rgb(63, 185, 63);
  color: white;
}

.btn-2:hover {
  background: rgb(63, 185, 63);
  color: white;
  opacity: 0.7;
}

.btn-3 {
  background: rgb(25, 136, 255);
  color: white;
}

.btn-3:hover {
  background: rgb(25, 136, 255);
  color: white;
  opacity: 0.7;
}

.btn-4 {
  background: rgb(171, 171, 171);
  color: white;
}

.btn-4:hover {
  background: rgb(171, 171, 171);
  color: white;
  opacity: 0.7;
}

@media (max-width: 1200px) {
  h2 {
    font-size: 22px;
  }

  hr {
    margin: 10px 0;
  }

  .card span:first-of-type {
    font-size: 20px;
  }

  .btn-2,
  .btn-3,
  .btn-4 {
    font-size: 11px;
    padding: 3px 15px;
  }
  .btn.instructions-button {
    width: 12%;
  }
}

@media (max-width: 992px) {
  h2 {
    margin: 0;
    font-size: 16px;
  }

  hr {
    margin: 5px 0;
  }

  .card span:first-of-type {
    font-size: 16px;
  }

  li span:nth-of-type(2n) {
    font-size: 12px;
  }

  .btn.instructions-button {
    width: 16%;
  }

  .buttons {
    display: flex;
  }

  .btn-2,
  .btn-3,
  .btn-4 {
    padding: 5px;
    font-size: 12px;
  }

  .instructions-screen {
    width: 85vw;
  }

  .instructions-screen h2 {
    margin-bottom: 8px;
  }

  .new-value-form input {
    width: 92%;
  }

  .btn.new-value-button {
    width: 75%;
  }

  .btn.summary-button {
    width: 60%;
  }
}

@media (max-width: 766px) {
  .btn.instructions-button {
    width: 18%;
    font-size: 13px;
  }

  .col-6 {
    padding-top: 10px;
    height: 50vh;
    overflow: scroll;
  }

  .col-6:first-of-type {
    border-top-left-radius: 14px;
    border-bottom-left-radius: 0;
  }

  .col-6:nth-of-type(2) {
    border-top-right-radius: 14px;
  }

  .col-6:nth-of-type(3) {
    border-bottom-left-radius: 14px;
  }

  .col-6:last-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 14px;
  }
}

@media (max-width: 512px) {
  .btn.instructions-button {
    width: 23%;
    font-size: 13px;
    padding: 6px;
    margin-bottom: 8px;
  }

  .btn.summary-button {
    width: 50%;
    font-size: 14px;
  }
}

@media print {
  .CardSort .row ul.screen-list {
    display: none;
  }

  .card {
    display: none;
  }

  .card-column,
  .very-important,
  .important,
  .not-important {
    background: none;
    border: none;
  }

  .summary-screen {
    background: white;
    color: black;
    width: 100vw;
    height: 100vh;
    padding: 0;
    border: none;
    line-height: 12px;
  }

  .summary-screen h2 {
    display: none;
  }

  .summary-screen hr {
    display: none;
  }

  .summary-screen h3 {
    font-size: 15px;
  }

  .summary-screen span:nth-of-type(2n) {
    font-size: 11px;
  }

  .summary-screen span:first-of-type {
    font-weight: bold;
    font-size: 12px;
  }

  .fa-xmark {
    display: none;
  }
}
